
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.postNav_a {
  width: 100%;
  text-align: center;
  position: relative;
  height: 14.65rem;
  background: #4E4E4E;
  margin-bottom: 7rem;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: auto;
}

.navbar-toggle{
  background: white;
  border: #4e4e4e;
}

.navbar-toggle .icon-bar {
  background-color: #4e4e4e;
}