
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.postNav_a {
  width: 100%;
  text-align: center;
  position: relative;
  height: 14.65rem;
  background: #4E4E4E;
  margin-bottom: 7rem;
}

postNav_b{

}